<article class="shadow-sm row m-3 rounded p-3">
    <div class="col-md-12">
        <h2>
            {{ project.name }}
        </h2>
      </div>
    <div class="col-md-5 d-flex flex-column">
        <p>
            {{ project.shortDescription }}
        </p>
        <div>
            {% for projectTag in project.ProjectTags %}
                <a href="/project/tag/{{ projectTag.tag.seoLink }}" class="badge badge-primary">{{ projectTag.tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-7">
        <a href="/project/{{ project.seoLink }}">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ project.previewPicture }}" alt="{{ project.previewPicture }} not found.">
        </a>
    </div>
    <div class="col-md-12">
        <a class="btn btn-primary mt-auto" href="/project/{{ project.seoLink }}">
            View Project
        </a>
    </div>
</article>
