{% extends 'base.html.twig' %}

{% block title %}byte-artist.de | {{ project.name }}{% endblock %}

{% block body %}
<main class="page-main">
    <div class="page-hero">
        <div class="page-hero-inner">
            <div class="section-tag">// projekt</div>
            <h1>{{ project.name }}</h1>
        </div>
    </div>
    <div class="page-content">
        {{ include('projects/details.html.twig', { 'project': project }) }}

        <div class="mt-5">
            <a href="{{ path('projects') }}" class="btn-secondary">
                <i class="fas fa-arrow-left"></i>&nbsp; Alle Projekte
            </a>
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vendor/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.balanced-gallery.js') }}"></script>
    <script src="{{ asset('js/vendor/cad.gallery.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.cad-gallery').each(function() {
                jQuery(this).BalancedGallery({ /* options */ });
            });

            jQuery('img').each(function() {
                var src = $(this).attr('src');
                if (null !== src) {
                    var image = $('<img />').attr('src', src);
                }
            });

            lazyload();
            createGallery();
        });
    </script>
{% endblock %}