{% extends 'base.html.twig' %}

{% block title %}byte-artist.de | Blog{% endblock %}

{% block body %}
<div class="page-main">
    <div class="page-hero">
        <div class="page-hero-inner">
            <div class="section-tag">// blog</div>
            <h1>Blog</h1>
            <p>Gedanken, Erfahrungen und technische Erkenntnisse.</p>
        </div>
    </div>

    <div class="page-content">
        {{ include('fragment/pagination.html.twig') }}

        <div class="two-col-layout" style="margin-top:32px;">
            <div class="blog-grid">
                {% for blog in blogs %}
                    {{ include('blog/preview.html.twig', { 'blog': blog }) }}
                {% endfor %}
            </div>

            <aside class="sidebar">
                {% if blogTags|length %}
                <div class="sidebar-widget">
                    <div class="sidebar-title">Tags</div>
                    <div class="tag-cloud-pills">
                        {% for blogTag in blogTags %}
                        <a href="/blog/tag/{{ blogTag.tag.seoLink }}" class="tag">{{ blogTag.tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </aside>
        </div>

        {{ include('fragment/pagination.html.twig') }}
    </div>
</div>
{% endblock %}
