{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | blog | {{ blog.name }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        {{ include('blog/details.html.twig', { 'blog': blog }) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('magnific-popup') }}
    {{ encore_entry_script_tags('balanced-gallery') }}
    {{ encore_entry_script_tags('cad-gallery') }}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.cad-gallery').each(function() {
                jQuery(this).BalancedGallery({ /* options */ });
            });

            jQuery('img').each(function() {
                var src = $(this).attr('src');
                if (null !== src) {
                    var image = $('<img />').attr('src', src);
                }
            });

            lazyload();
            createGallery();
        });
    </script>
{% endblock %}